<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bookshelf</title>
</head>
<body>
  <div id="header"></div>

  <div id="sidebar"></div>

  <div id="content">
    <h1>Bookshelf</h1>
    <p>Welcome to Bookshelf, here you can manage your books :)</p>
  </div>

  <!-- Templates -->
  <script type="text/template" id="start-template">
    <h1>Bookshelf</h1>
    <p>Welcome to Bookshelf, here you can manage your books :)</p>
  </script>

  <script type="text/template" id="header-template">
    <button class="new-btn">New Book</button>
  </script>

  <script type="text/template" id="book-list-item-template">
    <a href="#books/<%= id %>"><%= title %></a>
  </script>

  <script type="text/template" id="book-details-template">
    <form action="">
      <label for="id">Id</label>
      <input name="id" id="id" type="text" value="<%= id %>" disabled>

      <label for="title">Title</label>
      <input name="title" id="title" type="text" value="<%= title %>">

      <label for="author">Author</label>
      <input name="author" id="author" type="text" value="<%= author %>">

      <label for="edition">Edition</label>
      <input name="edition" id="edition" type="text" value="<%= edition %>">

      <label for="pages">Pages</label>
      <input name="pages" id="pages" type="text" value="<%= pages %>">

      <label for="picture">Picture</label>
      <input name="picture" id="picture" type="text" value="<%= picture %>">

      <input type="submit" value="Delete" class="delete">
      <input type="submit" value="Save" class="save">
    </form>
  </script>

  <!-- Libraries -->
  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>

  <!-- Models -->
  <script src="js/models/Book.js"></script>
  <script src="js/models/BookCollection.js"></script>

  <!-- Views -->
  <script src="js/views/BookListItemView.js"></script>
  <script src="js/views/BookListView.js"></script>
  <script src="js/views/BookDetailsView.js"></script>
  <script src="js/views/HeaderView.js"></script>
  <script src="js/views/StartView.js"></script>

  <!-- Hit start! -->
  <script src="js/main.js"></script>
</body>
</html>
